:root {
    --title: 'ğ“ğ“¼ğ“²ğ“®ğ“­ğ“µğ“®ğ“¡ğ“Ÿ ğ““ğ“®ğ“¼ğ“²ğ“·ğ“®ğ“­ ğ“«ğ”‚ ğ“™ğ“¸ğ“°ğ“¾ğ“½ğ“®ğ“»ğ“®ğ“´ ';
    --C1: rgb(130, 0, 216);
    --C2: rgb(0, 225, 255);
    --header-primary: white;
    --header-secondary: white;
    --text-normal: white;
    --text-muted: rgba(255, 255, 255, .85);
    --text-link: var(--C1);
    --channels-default: white;
    --interactive-normal: white;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: var(--grey);
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: var(--darkgrey5);
    --background-modifier-hover: rgba(79, 84, 92, 0.16);
    --background-modifier-active: var(--darkgrey5);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --background-message-hover: var(--HoverMessage);
    --scrollbar-thin-thumb: var(--C1);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--C1);
    --scrollbar-auto-track: transparent;
    --bd-blue: var(--C1);
    --bd-blue-hover: var(--C1);
    --bd-blue-active: var(--C1);
    --blurple: var(--C1);
}

.circleIconButton-jET_ig {
    box-shadow: none;
    color: var(--C1);
    text-shadow: 0 0 12px;
    border-radius: .25em !important;
    background: var(--darkgrey);
}

.embedFull-2tM8-- {
    max-width: unset !important;
    border-left: 4px solid var(--C1);
    background: var(--darkgrey5);
}

.scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: var(--C1) !important;
    opacity: 0.5;
}