@import url("https://goldenlys.github.io/BetterDiscord-Elysia/RGB/selectors.css");

@keyframes RGB_TEXT {
	0% {
		color: var(--C1);
	}

	15% {
		color: var(--C2);
	}

	31% {
		color: var(--C3);
	}

	46% {
		color: var(--C4);
	}

	61% {
		color: var(--C5);
	}

	76% {
		color: var(--C6);
	}

	92% {
		color: var(--C7);
	}

	to {
		color: var(--C1);
	}
}

@-webkit-keyframes RGB_TEXT {
	0% {
		color: var(--C1);
	}

	15% {
		color: var(--C2);
	}

	31% {
		color: var(--C3);
	}

	46% {
		color: var(--C4);
	}

	61% {
		color: var(--C5);
	}

	76% {
		color: var(--C6);
	}

	92% {
		color: var(--C7);
	}

	to {
		color: var(--C1);
	}
}

@keyframes RGB_BG {
	0% {
		background: var(--C1);
	}

	15% {
		background: var(--C2);
	}

	31% {
		background: var(--C3);
	}

	46% {
		background: var(--C4);
	}

	61% {
		background: var(--C5);
	}

	76% {
		background: var(--C6);
	}

	92% {
		background: var(--C7);
	}

	to {
		background: var(--C1);
	}
}

@-webkit-keyframes RGB_BG {
	0% {
		background: var(--C1);
	}

	15% {
		background: var(--C2);
	}

	31% {
		background: var(--C3);
	}

	46% {
		background: var(--C4);
	}

	61% {
		background: var(--C5);
	}

	76% {
		background: var(--C6);
	}

	92% {
		background: var(--C7);
	}

	to {
		background: var(--C1);
	}
}

@keyframes RGB_BG-SHADOW {
	0% {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}

	15% {
		background: var(--C2);
		box-shadow: 0 0 5px var(--C2);
	}

	31% {
		background: var(--C3);
		box-shadow: 0 0 5px var(--C3);
	}

	46% {
		background: var(--C4);
		box-shadow: 0 0 5px var(--C4);
	}

	61% {
		background: var(--C5);
		box-shadow: 0 0 5px var(--C5);
	}

	76% {
		background: var(--C6);
		box-shadow: 0 0 5px var(--C6);
	}

	92% {
		background: var(--C7);
		box-shadow: 0 0 5px var(--C7);
	}

	to {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}
}

@-webkit-keyframes RGB_BG-SHADOW {
	0% {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}

	15% {
		background: var(--C2);
		box-shadow: 0 0 5px var(--C2);
	}

	31% {
		background: var(--C3);
		box-shadow: 0 0 5px var(--C3);
	}

	46% {
		background: var(--C4);
		box-shadow: 0 0 5px var(--C4);
	}

	61% {
		background: var(--C5);
		box-shadow: 0 0 5px var(--C5);
	}

	76% {
		background: var(--C6);
		box-shadow: 0 0 5px var(--C6);
	}

	92% {
		background: var(--C7);
		box-shadow: 0 0 5px var(--C7);
	}

	to {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}
}
